.Dish {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(256, 256, 256, 0.8);
}

.Dish-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Dish-action:hover {
  color: #cca353;
  
}

.Dish-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
}

.Dish-information h3 {
  
  margin-bottom: .22rem;
}

.Dish-information p {
  
  
  font-style: bold;
  
}