.Jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6.94rem;  
  height: 20rem;
}

.Jumbotron h2 {
  margin-bottom: 10px;
  color: #fff;
}

.Jumbotron a {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  color: #fff;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.Jumbotron select {
  width: 150px;
  height: 40px;

  
}
.Jumbotron a:hover {
  background-color: rgba(108, 65, 233, .7);
}

.Selection {
  margin-top: 80px;
}